@import 'tailwindcss';

:root {
  font-family: var(--font-suit), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@theme {
  /* Brand Colors */
  --color-primary: #638b56ff;
  --color-primary-20: #638b5633;
  --color-primary-40: #638b5666;
  --color-primary-60: #638b5699;
  --color-secondary: #feffe3ff;
  --color-tertiary: #8c6d5aff;
  --color-tertiary-20: #8c6d5a33;
  --color-tertiary-40: #8c6d5a66;
  --color-tertiary-60: #8c6d5a99;

  /* System Colors */
  --color-danger: #f35341ff;
  --color-danger-10: #f353411a;
  --color-danger-20: #f3534133;

  /* Grayscale Palette */
  --color-black: #2b2b2bff;
  --color-white: #ffffffff;
  --color-gray-10: #fafafaff;
  --color-gray-50: #f0f0f0ff;
  --color-gray-100: #dbdbdbff;
  --color-gray-200: #bfbfbfff;
  --color-gray-300: #999999ff;
  --color-gray-400: #868686ff;
  --color-gray-500: #666666ff;
  --color-gray-600: #5e5e5eff;
  --color-gray-700: #525252ff;
  --color-gray-800: #404040ff;
  --color-gray-900: #303030ff;
  --color-gray-950: #1f1f1fff;

  --font-size-base: 16px;
  --spacing-md: 16px;
}

hr { border: 0; border-top: 1px solid var(--color-gray-200); }